<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
  <H1>Cars</H1>
  <ul>
    <% for (car of cars) { %>
      <li>
        <a href="/cars/<%= car._id %> ">
          <%= car.name %> 
        </a>
      </li>
    <% } %> 
  </ul>
</body>
</html>